# Display Dynamic Tab

#### Imports

In [1]:
from autotab.TabPrediction import load_model_and_weights
from autotab.TabPrediction import load_x_new
from autotab.TabPrediction import make_full_tab
import autotab.TabPrediction as tp

2021-12-01 12:12:37.032708: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-12-01 12:12:37.032882: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

## Build model and load weights

In [2]:
model = load_model_and_weights()

Using Google cloud buckets
BUCKET_NAME wagon-data-737-sadriwala
DATA_BUCKET_FOLDER data/spec_repr
gs://wagon-data-737-sadriwala/data/spec_repr/
gs://wagon-data-737-sadriwala/saved/
getting ids from gs://wagon-data-737-sadriwala/data/spec_repr/id.csv

2021-12-01 12:12:51.480484: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2021-12-01 12:12:51.480546: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2021-12-01 12:12:51.480659: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (LAPTOP-GP5BU3LN): /proc/driver/nvidia/version does not exist
2021-12-01 12:12:51.481158: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

## Load music file and get prediction

In [23]:
filename = '../raw_data/khurangbin.wav'
x_new = load_x_new(filename)

FileNotFoundError: [Errno 2] No such file or directory: '../raw_data/khurangbin.wav'

In [ ]:
y_pred = model.predict(x_new)

## Get expanded tabs from make_full_tab

In [ ]:
full_tab = make_full_tab(y_pred,len(y_pred))

/mnt/d/data-science/le-wagon/autotab/autotab/TabPrediction.py:51: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  tablature[frame_idx] = fret

In [ ]:
dynamic_tab_from_func = tp.make_dynamic_tab(full_tab,5)

/mnt/d/data-science/le-wagon/autotab/autotab/TabPrediction.py:101: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dynamic_tab[col_write] = full_tab[
/mnt/d/data-science/le-wagon/autotab/autotab/TabPrediction.py:95: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dynamic_tab[col_write] = full_tab[

In [ ]:
dynamic_tab_from_func

,0,1,2,3,4,5,6,7,8,9,...,204,205,206,207,208,209,210,211,212,213
E,-1,-1,-1,-1,0,0,0,0,-1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
A,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
D,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
G,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
B,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
e,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [ ]:
full_tab

,0,1,2,3,4,5,6,7,8,9,...,825,826,827,828,829,830,831,832,833,834
E,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
A,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
D,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
G,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
B,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
e,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [ ]:
full_tab.loc[:,16:30]

   16  17  18  19  20  21  22  23  24  25  26  27  28  29  30
E   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
A  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
D  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
G  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
B  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
e  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

In [24]:
tp.print_tabs(full_tab)

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|----------------|
G|----------------|----------------|----------------|----------------|
D|----------------|----------------|---------222----|------------222-|
A|----------------|----------------|----------666666|2222------------|
E|----------------|0000000000000000|0--0000000000000|000000----------|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|----------------|
G|----------------|----------------|--------555-----|---------------0|
D|----------------|----------------|----------------|---------------5|
A|2222222222222333|3333333333333333|3333333333333333|33333-----------|
E|000000000000----|----------------|----------------|--------------33|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|---44-----------|
G|0000000---------|-000----0000000-|----------------|---000000000000-|
D|555555----------|55555---55555---|----------------|---66666555555--|
A|----------------|----------------|------222-------|----------------|
E|3333333333333333|3333333333333333|3330000000000000|3333333333333333|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|----------------|
G|----------------|----------------|----------------|----------------|
D|----------------|----------------|---------2222222|--------22------|
A|----------------|----------2222--|--22222226666666|6662226666666666|
E|33333333333333--|--------00000000|0000000000000000|0000000000000000|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|-----------33333|
G|----------------|-------5--55----|---------55-----|----------777777|
D|----------------|----------------|----------------|----------------|
A|6666222222222222|2223333333333333|3333333333333333|33333333---55555|
E|0000000000000000|000-------------|----------------|----------------|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|----------------|
G|77--------------|----------------|----------------|----------------|
D|-------22222----|--------22------|2222222222222222|2222222222222222|
A|----------------|----------------|-------333333333|3333333333333333|
E|----------------|----------------|----------------|----------------|

e|----------------|----------------|----------------|----------------|
B|----------------|--33333---------|----------------|----------------|
G|----------------|--777777--------|----------------|----------------|
D|222222222222222-|----------------|----------------|----------------|
A|3333333333333333|----------------|----------------|----------------|
E|----------------|----------------|----------------|----------------|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|----------------|
G|----------------|----------------|----------------|----------------|
D|----------------|----------222222|----------------|----------------|
A|----------------|----------------|----------------|----------------|
E|----------------|----------------|----------------|----------------|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|----------------|
G|----------------|----------------|----------------|----------------|
D|----------------|----------------|-----------22222|2222222222222222|
A|----------------|----------------|------------3333|3333333333------|
E|----------------|----------------|----------------|----------------|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|----------------|
G|---9999999999---|----------------|----------------|----------------|
D|2222222222222222|2---------------|--------33333333|3333333333333333|
A|----------------|----------------|----------------|----------------|
E|----------------|-------------000|0000000111111111|1111111111111111|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|----------------|
G|---11111--------|----------------|----------------|----------------|
D|3333333333------|----------------|----------------|----------------|
A|----------------|---------3333333|3333333333333333|3333333333333333|
E|11111111110000--|----------------|----------------|----------------|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|----------------|
G|----------------|--------------55|55555-----------|--000-----------|
D|----------------|----------------|----------------|--555-----------|
A|3333333333333333|333333----------|----------------|-------------333|
E|----------------|----------------|----------------|-3333333330000--|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|----------------|
G|----------------|----------------|----------------|----------------|
D|----------------|----------------|----------------|----------------|
A|333333333-------|----------------|----------------|----------------|
E|----------------|----------------|----------------|----------------|

e|---
B|---
G|---
D|---
A|---
E|---

## Make an empty Tablature Dynamic_tab

In [25]:
dynamic_tab = tp.make_empty_tab()

## Make a counter to count columns written

In [26]:
col_write = 0

## Make a | column. Also for every 16 column, make a pipe column

## Make a counter for columns read

In [27]:
col_read=0

## Starting with 0 column, check UPTO next 4 columns, every time.increasing column read counter

In [28]:
full_tab[0]

E   -1
A   -1
D   -1
G   -1
B   -1
e   -1
Name: 0, dtype: int64

In [29]:
full_tab[9]

E   -1
A   -1
D   -1
G   -1
B   -1
e   -1
Name: 9, dtype: int64

In [30]:
full_tab[0].equals(full_tab[1])

True

In [31]:
full_tab.shape[1]

835

In [32]:
col_read=0
col_write=0
n=5
total_frames = full_tab.shape[1]
while col_read < total_frames-1: #keep doing until you reach the last frame
    changed = False # set changed as false
    max_col = col_read+n # this is the window from current col + n cols ahead 5/0
    while ((not changed) and (col_read < max_col) and (col_read < total_frames-1)):  # only if not changed and full window not checked
        if not full_tab[col_read].equals(full_tab[col_read+1]):
            # if current column doesnt equal next column, meaning change
            dynamic_tab[col_write] = full_tab[col_read] # write this col to the dynamic tab
            col_write = col_write + 1 # advance the write counter
            changed = True # set changed to true
        col_read = col_read + 1 # advance the read counter, either ways
    if not changed: # this means the entire window was checked but no change
        dynamic_tab[col_write] = full_tab[col_read-1] # so write the last entry of this window
        col_write = col_write + 1  # advance the write counter
print(col_write)
print(col_read)
# #need to take care of the last column
# if not dynamic_tab[col_write].equals(full_tab[col_read]):#if last written doesnt equal to last col in full_tab
#     dynamic_tab[col_write + 1] = full_tab[col_read] #write this column

214
834

/tmp/ipykernel_1888/1122650414.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dynamic_tab[col_write] = full_tab[col_read-1] # so write the last entry of this window
/tmp/ipykernel_1888/1122650414.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dynamic_tab[col_write] = full_tab[col_read] # write this col to the dynamic tab

In [33]:
full_tab.loc[:, 0:15]

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
E  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
A  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
D  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
G  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
B  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
e  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

In [34]:
dynamic_tab

,0,1,2,3,4,5,6,7,8,9,...,204,205,206,207,208,209,210,211,212,213
E,-1,-1,-1,-1,0,0,0,0,-1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
A,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
D,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
G,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
B,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
e,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [35]:
tp.print_tabs(dynamic_tab)

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|-----4----------|
G|----------------|--------------5-|----000---0--00-|-----00000------|
D|-----------22---|--2-------------|----55---555-5--|-----6655-------|
A|------------662-|----222233333333|3---------------|-2--------------|
E|----0000-0000000|----000---------|---3333333333333|0000333333333--0|

e|----------------|----------------|----------------|----------------|
B|----------------|------------3---|----------------|--3-------------|
G|----------------|5-5---5----777--|----------------|--77------------|
D|----22---2------|---------------2|---2--2222222222|----------------|
A|2-22666266662223|3333333333--5---|--------33333333|3---------------|
E|000000000000000-|----------------|----------------|----------------|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|----------------|
G|----------------|---------99-----|--------1-------|-------------55-|
D|--22------------|---222222222----|--33333333------|----------------|
A|----------------|----333---------|--------------33|33333333333-----|
E|----------------|---------------0|01111111110-----|----------------|

e|----------------|------
B|----------------|------
G|---0------------|------
D|---5------------|------
A|------3333------|------
E|--33300---------|------

In [36]:
tp.print_tabs(dynamic_tab_from_func)

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|-----4----------|
G|----------------|--------------5-|----000---0--00-|-----00000------|
D|-----------22---|--2-------------|----55---555-5--|-----6655-------|
A|------------662-|----222233333333|3---------------|-2--------------|
E|----0000-0000000|----000---------|---3333333333333|0000333333333--0|

e|----------------|----------------|----------------|----------------|
B|----------------|------------3---|----------------|--3-------------|
G|----------------|5-5---5----777--|----------------|--77------------|
D|----22---2------|---------------2|---2--2222222222|----------------|
A|2-22666266662223|3333333333--5---|--------33333333|3---------------|
E|000000000000000-|----------------|----------------|----------------|

e|----------------|----------------|----------------|----------------|
B|----------------|----------------|----------------|----------------|
G|----------------|---------99-----|--------1-------|-------------55-|
D|--22------------|---222222222----|--33333333------|----------------|
A|----------------|----333---------|--------------33|33333333333-----|
E|----------------|---------------0|01111111110-----|----------------|

e|----------------|------
B|----------------|------
G|---0------------|------
D|---5------------|------
A|------3333------|------
E|--33300---------|------

## If there is a change, add current column to dynamic tab, and redo loop at current column read counter